<!DOCTYPE html>
<html>

<head>

<title>Create Task</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="background: linear-gradient(to right, #667eea, #764ba2);">

<nav class="navbar navbar-dark bg-dark">

<div class="container-fluid">

<a href="/admin_dashboard"
class="btn btn-light">
Back
</a>

<a href="/logout"
class="btn btn-danger">
Logout
</a>

</div>

</nav>

<div class="container mt-5">

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow-lg p-4">

<h2 class="text-center mb-4">
Assign Task
</h2>

<form method="POST">

<input type="text"
name="title"
class="form-control mb-3"
placeholder="Task Title"
required>

<textarea name="description"
class="form-control mb-3"
placeholder="Task Description"
required></textarea>

<select name="priority"
class="form-control mb-3">

<option>High</option>
<option>Medium</option>
<option>Low</option>

</select>

<label>Start Date</label>

<input type="date"
name="start_date"
class="form-control mb-3"
required>

<label>Due Date</label>

<input type="date"
name="due_date"
class="form-control mb-3"
required>

<label>Assign Member</label>

<select name="assigned_to"
class="form-control mb-3">

{% for user in users %}

<option>{{ user.name }}</option>

{% endfor %}

</select>

<label>Select Project</label>

<select name="project_name"
class="form-control mb-3">

{% for project in projects %}

<option>{{ project.title }}</option>

{% endfor %}

</select>

<button type="submit"
class="btn btn-success w-100">
Assign Task
</button>

</form>

</div>

</div>

</div>

</div>

</body>
</html>
