<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
</head>

<body>

<h1>Signup Page</h1>

<form method="POST">

    <input type="text" name="name" placeholder="Enter Name">
    <br><br>

    <input type="email" name="email" placeholder="Enter Email">
    <br><br>

    <input type="password" name="password" placeholder="Enter Password">
    <br><br>

    <select name="role">
        <option>admin</option>
        <option>member</option>
    </select>

    <br><br>

    <button type="submit">Signup</button>

</form>

<br>

<a href="/login">Already have account? Login</a>

</body>
</html>